@model SCF.Models.ContasReceber

@{
    ViewBag.Title = "Visualizar Conta a Receber";
    Layout = "~/Views/Shared/_BootstrapLayout.basic.cshtml";
}

<div>
    <H3>Visualizar Conta a Receber</H3>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Desdobramento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Desdobramento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConveniadoId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConveniadoId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Valor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Valor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataVencimento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataVencimento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValorPago)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorPago)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataPagamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataPagamento)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ContasReceberId }) |
    @Html.ActionLink("Voltar", "Index")
</p>
