@model SCF.Models.Conveniado

@{
    ViewBag.Title = "Novo Conveniado";
    Layout = "~/Views/Shared/_BootstrapLayout.basic.cshtml";
    var selectEstadoCivil = new[] { new SelectListItem() { Text = "Solteiro(a)", Value = "1" }, new SelectListItem() { Text = "Casado(a)", Value = "2" }, new SelectListItem() { Text = "Divorciado(a)", Value = "3" } };
    var selectTipoConveniado = new[] { new SelectListItem() { Text = "Titular", Value = "1" }, new SelectListItem() { Text = "Dependente", Value = "2" } };
}

@*<h2></h2>*@

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h3>Novo Conveniado</h3>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-4">
                @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label col-md-0" })
                @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
            </div>

            <div class="col-md-4">
                @Html.LabelFor(model => model.Matricula, htmlAttributes: new { @class = "control-label col-md-0" })
                @Html.EditorFor(model => model.Matricula, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Matricula, "", new { @class = "text-danger" })
            </div>

            <div class="col-md-2">
                @Html.LabelFor(model => model.DataAdmissao, htmlAttributes: new { @class = "control-label col-md-0" })
                @Html.EditorFor(model => model.DataAdmissao, new { htmlAttributes = new { @class = "form-control datepicker" } })
                @Html.ValidationMessageFor(model => model.DataAdmissao, "", new { @class = "text-danger" })
            </div>

            <div class="col-md-2">
                @Html.LabelFor(model => model.DataNascimento, htmlAttributes: new { @class = "control-label col-md-0" })
                @Html.EditorFor(model => model.DataNascimento, new { htmlAttributes = new { @class = "form-control datepicker" } })
                @Html.ValidationMessageFor(model => model.DataNascimento, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-4">
                @Html.LabelFor(model => model.CPF, htmlAttributes: new { @class = "control-label col-md-0" })
                @Html.EditorFor(model => model.CPF, new { htmlAttributes = new { @id = "conveniado-CPF", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CPF, "", new { @class = "text-danger" })
            </div>

            <div class="col-md-4">
                @Html.LabelFor(model => model.RG, htmlAttributes: new { @class = "control-label col-md-0" })
                @Html.EditorFor(model => model.RG, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RG, "", new { @class = "text-danger" })
            </div>

            <div class="col-md-2">
                @Html.LabelFor(model => model.EstadoCivil, new { @class = "control-label col-md-0", @for = "tipoEstadoCivil" })
                @Html.DropDownListFor(model => model.EstadoCivil, selectEstadoCivil, "Selecione o Estado Civil", new { @id = "tipo-estadoCivil", @class = "form-control" })
                @Html.ValidationMessageFor(model => model.EstadoCivil, "", new { @class = "text-danger" })
            </div>

            <div class="col-md-2">
                @Html.LabelFor(model => model.TelResidencial, htmlAttributes: new { @class = "control-label col-md-0" })
                @Html.EditorFor(model => model.TelResidencial, new { htmlAttributes = new { @id = "conveniado-telResidencial1", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TelResidencial, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2">
                @Html.LabelFor(model => model.TelCelular1, htmlAttributes: new { @class = "control-label col-md-0" })
                @Html.EditorFor(model => model.TelCelular1, new { htmlAttributes = new { @id = "conveniado-telCelular1", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TelCelular1, "", new { @class = "text-danger" })
            </div>

            <div class="col-md-2">
                @Html.LabelFor(model => model.TipoConveniado, new { @class = "control-label col-md-0", @for = "tipoAssociado" })
                @Html.DropDownListFor(model => model.TipoConveniado, selectTipoConveniado, "Selecione o Tipo Conveniado", new { @id = "tipo-conveniado", @class = "form-control" })
                @Html.ValidationMessageFor(model => model.TipoConveniado, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-4">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-0" })
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>

            <div class="col-md-4">
                @Html.LabelFor(model => model.Logradouro, htmlAttributes: new { @class = "control-label col-md-0" })
                @Html.EditorFor(model => model.Logradouro, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Logradouro, "", new { @class = "text-danger" })
            </div>


        </div>

        <div class="form-group">
            <div class="col-md-4">
                @Html.LabelFor(model => model.Bairro, htmlAttributes: new { @class = "control-label col-md-0" })
                @Html.EditorFor(model => model.Bairro, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Bairro, "", new { @class = "text-danger" })
            </div>

            <div class="col-md-2">
                @Html.LabelFor(model => model.Numero, htmlAttributes: new { @class = "control-label col-md-0" })
                @Html.EditorFor(model => model.Numero, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Numero, "", new { @class = "text-danger" })
            </div>

            <div class="col-md-2">
                @Html.LabelFor(model => model.CEP, htmlAttributes: new { @class = "control-label col-md-0" })
                @Html.EditorFor(model => model.CEP, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CEP, "", new { @class = "text-danger" })
            </div>

            <div class="col-md-4">
                @Html.LabelFor(model => model.Cidade, htmlAttributes: new { @class = "control-label col-md-0" })
                @Html.EditorFor(model => model.Cidade, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Cidade, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-4">
                @Html.LabelFor(model => model.Complemento, htmlAttributes: new { @class = "control-label col-md-0" })
                @Html.EditorFor(model => model.Complemento, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Complemento, "", new { @class = "text-danger" })
            </div>

            <div class="col-md-6">
                @Html.LabelFor(model => model.Observacao, htmlAttributes: new { @class = "control-label col-md-0" })
                @Html.EditorFor(model => model.Observacao, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Observacao, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2">
                <input type="submit" value="Salvar" class="btn btn-primary" />
                @Html.ActionLink("Voltar", "Index", new { @class = "btn btn-danger btn-sm" })
            </div>
        </div>
    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery.maskedinput.js"></script>
    <script src="~/Scripts/locales/bootstrap-datepicker.pt-BR.min.js"></script>
    <script type="text/javascript">
        $('#conveniado-telResidencial1').focusout(function () {
            var phone, element;
            element = $(this);
            element.unmask();
            phone = element.val().replace(/\D/g, '');
            if (phone.length > 10) {
                element.mask("(99) 9999-9999", { autoclear: false });
            } else {
                element.mask("(99) 9999-9999", { autoclear: false });
            }
        }).trigger('focusout');

        $('#conveniado-telCelular1').focusout(function () {
            var phone, element;
            element = $(this);
            element.unmask();
            phone = element.val().replace(/\D/g, '');
            if (phone.length > 10) {
                element.mask("(99) 99999-999?9", { autoclear: false });
            } else {
                element.mask("(99) 9999-9999?9", { autoclear: false });
            }
        }).trigger('focusout');

        $('#conveniado-CPF').focusout(function () {
            var cpf, element;
            element = $(this);
            element.unmask();
            cpf = element.val().replace(/\D/g, '');

            element.mask('999.999.999-99', { autoclear: false });
        });

    </script>
}
