@model IEnumerable<SCF.Conveniado>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_BootstrapLayout.basic.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Numero)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Complemento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bairro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Endereco.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoConveniado.Descricao)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Numero)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Complemento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bairro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Endereco.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoConveniado.Descricao)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdConveniado }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdConveniado }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdConveniado })
        </td>
    </tr>
}

</table>
